/* label focus color */
.input-field input:focus + label {
    color: #6200ea  !important;
}
/* label underline focus color */
.input-field input:focus {
    border-bottom: 1px solid #6200ea  !important;
    box-shadow: 0 1px 0 0 #6200ea  !important
}